.header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 0;

    h1 {
        background: linear-gradient(90deg, rgba(255,22,100,1) 7%, rgba(226,50,107,1) 50%, rgba(201,80,116,1) 94%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .sections {
        display: flex;
        gap: 10px;
        
        a {
            transition: color 0.5s;
            
            &:hover {
                color: var(--white);
            } 

                &.active::after {
                    content: '';
                    border-bottom: 1px solid var(--white);
                }

        }


    }

    .icons {
        display: flex;
        gap: 10px;

        a {

            transition: color 0.5s;

            &:hover {

                .github:hover {
                    color: var(--github);
                }
                .linkedin:hover {
                    color: var(--linkedin);
                }
                .mail:hover {
                    color: var(--mail);
                }
            }


        }


    }

}


