.content {
  
    max-width: 1120px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 10vh;
    height: 80vh;
    color: var(--gray-200);

    .contentDescription {

        .contentTitle {
        
            display: flex;
            position: relative;
            color: var(--red-100);
            animation: showAbout 1s;

            @keyframes showAbout {
                0%   {top:-2.5rem; opacity: 0;}
                100% {top:0rem; opacity: 2;}
            }
            
        }
    
        .contentAbout {
    
            padding: 2rem 2rem;
            display: flex;
            // gap: 4rem;
            justify-content: space-between;
            align-items: center;
    
            .contentParagraph {
                p {

                    position: relative;
                    animation: show 1.5s;
                    @keyframes show {
                        0%   {left:-10rem; opacity: 0;}
                        100% {left:0rem; opacity: 1;}
                    }
                    span {
                        color: var(--white);
                    }
                }
            }
    
            img {
                width: 13rem;
                height: 13rem;
                position: relative;
                border-radius: 50%;
                animation: showImg 1s;

                @keyframes showImg {
                    0%   {right:-10rem; opacity: 0;}
                    100% {right:0rem; opacity: 1;}
                }
            };
            
        }
    }

    .carrer {


        .carrerTitle {
        
            display: flex;
            position: relative;
            color: var(--red-100);
            animation: showSkills 1.5s;
            padding-bottom: 3rem;

            @keyframes showSkills {
                0%   {top:-2.5rem; opacity: 0;}
                100% {top:0rem; opacity: 2;}
            }
            
        }


    }

    .skills {
        padding-bottom: 3rem;
        padding-top: 3rem;


        .skillsTitle {
        
            display: flex;
            position: relative;
            color: var(--red-100);
            animation: showSkills 1.5s;
            // padding-bottom: 3rem;

            @keyframes showSkills {
                0%   {top:-2.5rem; opacity: 0;}
                100% {top:0rem; opacity: 2;}
            }
            
        }

        .icons {
            padding: 2rem 2rem;
            display: grid;
            gap: 2rem;
            position: relative;
            animation: showIcons 3.5s;


            @keyframes showIcons {
                0%   {opacity: 0;}
                100% {opacity: 2;}
            }
        }




    }
    
    

}