.content {
  
    max-width: 1120px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 10vh 10rem;
    height: 80vh;
    color: var(--gray-200);

    .contentDescription {

        .contentTitle {
        
            width: 100%;
            color: var(--red-100);
            
        }
    
        .contentAbout {
    
            padding: 2rem 2rem;
            display: flex;
            // gap: 4rem;
            justify-content: space-between;
            align-items: center;
    
            .contentParagraph {
                p {
                    span {
                        color: var(--white);
                    }
                }
            }
    
            img {
                width: 20%;
                height: 20%;
                border-radius: 50%;
            };
            
        }
    }

    .contentSkills {


        .contentTitle {
            width: 100%;
            color: var(--red-100);
            // border-bottom: 2px solid var(--red-100);
        }

        .contentIcons {
            
            padding: 2rem 2rem;

            .contentTerminal {
                padding: 0.5rem;
                border-radius: 1rem;
                background-color: #1d1f21;
    
                .contentTerminalHeader {
    
                    display: flex;
                    // background-color: var(--gray-700);
                    height: 2rem;
                    align-items: center;
                    
    
                    .contentTerminalButtons {
                        display: flex;
                        gap: 0.4rem;
                        margin-left: 0.5rem;
                        align-items: center;
                    
                        span {
                            height: 1rem;
                            width: 1rem;
                            border-radius: 50%;
                            background-color: var(--gray-400);
                          }
                    }
    
                    p {
                        font-size: 1rem;
                        color: var(--gray-400);
                        margin: 0 auto;
                    }
                }

            }

        }

    }
    
    

}